<div class="modal fade" id="companyEditModal{{pk}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Company</h4>
        <button class="close" aria-label="Close" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        <label for="companyName">Name</label>
        <input type="text" class="form-control" id="companyName" placeholder="Name" [ngModel]="company.name">
        </div>

        <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" [ngModel]="company.description">
        </div>

        <div class="form-group">
          <label for="description">Pipeline Reference</label>
          <input type="text" class="form-control" id="externalRef" placeholder="externalRef" [(ngModel)]="company.runwayRef">
        </div>

        <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>

        <ba-multi-checkbox [(ngModel)]="checkboxModel" [propertiesMapping]="checkboxPropertiesMapping"></ba-multi-checkbox>

        <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="save()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<i class="ion-edit"  data-toggle="modal" attr.data-target="#companyEditModal{{pk}}" *ngIf='!lg'></i>
